<div class="main">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">New Habit</h1>
        <p><i>* = Required</i></p>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputnname" class="col-sm-2 control-label">Name *</label>
                <div class="col-sm-10">
                    <input ng-model="habit.name"  class="form-control" id="inputnname">
                </div>
            </div>
            <div class="form-group">
                <label for="inputdescr" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea ng-model="habit.descr" type="text" class="form-control" rows="3" id="inputdescr"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputamount" class="col-sm-2 control-label">Amount *</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <button class="btn btn-default">$1</button>
                        <button class="btn btn-default">$5</button>
                        <button class="btn btn-default">$10</button>
                        <button class="btn btn-default">$15</button>
                        <button class="btn btn-default">$20</button>
                        <button class="btn btn-default" id="amountOther" style="display: none">Other</button>
                        <textarea type-"text" class="form-control" style="display: none" id="inputAmount"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Frequency</label>
                <select>
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                </select>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="createHabit(habit)" type="submit" class="btn btn-default">Create</button>
                    <button onclick="location.href='#/home'" type="cancel" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

