<div class="main">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">New Goal</h1>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputnname" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input ng-model="goal.name"  class="form-control" id="inputnname">
                </div>
            </div>
            <div class="form-group">
                <label for="inputdescr" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea ng-model="goal.descr" type="text" class="form-control" rows="3" id="inputdescr"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputamount" class="col-sm-2 control-label">Amount</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input ng-model="goal.amount" type="text" class="form-control" id="inputamount">
                        <div class="input-group-addon">.00</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputdate" class="col-sm-2 control-label">Target Date</label>
                <div class="col-sm-10">
                    <input ng-model="goal.date"  type="date" class="form-control" id="inputdate">
                </div>
            </div>
            <div class="form-group">
                <label for="link" class="col-sm-2 control-label">Link</label>
                <div class="col-sm-10">
                    <input ng-model="goal.link"  type="text" class="form-control" id="link">
                </div>
            </div>
            <div class="form-group">
                <label for="notes" class="col-sm-2 control-label">Notes</label>
                <div class="col-sm-10">
                    <textarea ng-model="goal.notes"  type="text" class="form-control" rows="2" id="notes"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputFile" class="col-sm-2 control-label">Image</label>
                <div class="col-sm-10">
                    <input ng.model="goal.image" type="file" id="exampleInputFile">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="createGoal(goal)" type="submit" class="btn btn-default">Create</button>
                    <button onclick="location.href='#/home'" type="cancel" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>