<div class="main">
    <h1>Completed Goals</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Completed</th>
                <th>Name</th>
                <th>Description</th>
                <th>Amount Saved</th>
                <th>Date Completed</th>
            </tr></thead>

            <tbody>
            <tr>
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                <td>Coldplay</td>
                <td>Go to Coldplay Concert</td>
                <td>$200</td>
                <td>7/4/2015</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                <td>Paris Trip</td>
                <td>Take a summer trip to Paris</td>
                <td>$5000</td>
                <td>12/12/2015</td>
            </tr>
            </tbody>


        </table>
    </div>
</div>