    <div class="main">
        <h1 class="text-center page-header">Bank Information</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="bank" class="col-sm-2 control-label">Bank Branch</label>
                <select id="bank" class="col-sm-9">
                    <option value="def">Please Choose One...</option>
                    <option value="boa">Bank of America</option>
                    <option value="wf">Wells Fargo</option>
                    <option value="td">TD Bank</option>
                    <option value="st">Santander</option>
                </select>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="actnum" class="col-sm-2 control-label">Account Number</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="actnum" placeholder="Account Number">
                    </div>
                    <img src="http://s27.postimg.org/b1mvpviyn/Basic_Office_7_512.png"
                         class="pop col-sm-1" data-toggle="popover" data-trigger="hover" title="Account Number"
                         data-content="This is the number associated with your bank account. It can be found
                         on a check or on your online banking portal.">
                    </img>
                </div>
            </div>
            <div class="row progbar">
                <div class="progress col-sm-offset-2 col-sm-2">
                    <div class="progress-bar tracker tracker-done" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        Credentials
                    </div>
                </div>
                <div class="progress col-sm-2">
                    <div class="progress-bar tracker tracker-done" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        Confirm Email
                    </div>
                </div>
                <div class="progress col-sm-2">
                    <div class="progress-bar tracker tracker-done" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        Security Question
                    </div>
                </div>
                <div class="progress col-sm-2">
                    <div class="progress-bar tracker tracker-done" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        Bank Information
                    </div>
                </div>
                <div class="progress col-sm-2">
                    <div class="progress-bar tracker tracker-not-done" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        Create Budget
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="#/security" class="btn btn-default pull-left">Back</a>
                        <a href="#/createbudget" class="btn btn-primary pull-right">Next</a>
                    </div>
                </div>
            </div>
        </form>
    </div>