<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Cost Type</th>
        <th>Amount</th>
        <th>Frequency</th>
        <th>Actions</th>
    </tr>
    <tr>
        <form class="form-inline">
            <div class="form-group">
                <td><input type="text" class="form-control" id="costName" placeholder="Cost Name"></td>
                <td>
                    <select id="type">
                        <option value="def">Please Choose One...</option>
                        <option value="fix">Fixed</option>
                        <option value="fluid">Fluid</option>
                    </select>
                </td>
                <td><input type="number" class="form-control" id="costAmount" placeholder="Amount"></td>

                <td>
                    <select id="freq">
                        <option value="def">Please Choose One...</option>
                        <option value="d">Daily</option>
                        <option value="w">Weekly</option>
                        <option value="n">Monthly</option>
                        <option value="y">Annually</option>
                    </select>
                </td>
                <td><a href="#" class="glyphicon glyphicon-plus btn"></a><a href="#" class="glyphicon glyphicon-ok btn"></a></td>
            </div>
        </form>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Rent</td>
        <td>Fixed</td>
        <td>920</td>
        <td>Monthly</td>
        <td>
            <a href="#" class="glyphicon glyphicon-remove btn"></a><a href="#" class="glyphicon glyphicon-pencil btn"></a>
        </td>
    </tr>
    <tr>
        <td><a href="form-fields.html">Contact List</a></td>
        <td>
            <a href="#" class="glyphicon glyphicon-remove btn"></a><a href="#" class="glyphicon glyphicon-pencil btn"></a>
        </td>
    </tr>
    <tr>
        <td><a href="form-fields.html">To Do List</a></td>
        <td>
            <a href="#" class="glyphicon glyphicon-remove btn"></a><a href="#" class="glyphicon glyphicon-pencil btn"></a>
        </td>
    </tr>
    </tbody>
</table>