<div class="row">
    <div class="main">
        <h1 class="text-center page-header">Security Question</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="question" class="col-sm-2 control-label">Security Question</label>
                <select id="question" class="col-sm-9">
                    <option value="def">Please Choose One...</option>
                    <option value="mom">What is your mother's maiden name?</option>
                    <option value="pet">What was the name of your first pet?</option>
                    <option value="hs">Where did you go to high school?</option>
                    <option value="sec">What is your deepest darkest secret?</option>
                </select>
            </div>
            <div class="form-group">
                <label for="answer" class="col-sm-2 control-label">Answer</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="answer" placeholder="Answer">
                </div>
            </div>
            <br><br>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="#/bank" class="btn btn-primary pull-right">Next</a>
                </div>
            </div>
        </form>
    </div>
</div>